<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Intraday Play
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        High Frequency Trading
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Stock Analysis
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Made with ❤ by
            <a href="https://www.creative-tim.com" target="_blank">Dev-Engers</a> for a Richer Life.
        </div>
    </div>
</footer>
