<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Stock List</h4>
                      <p class="card-category"> A Details Prices of each stock</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Stock Name
                                  </th>
                                  <th>
                                      Stock ID
                                  </th>
                                  <th>
                                      Open Price
                                  </th>
                                  <th>
                                      High Price
                                  </th>
                                  <th>
                                      Close Price
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                        Amazon
                                      </td>
                                      <td>
                                        Amzn
                                      </td>
                                      <td>
                                        $1800.40
                                      </td>
                                      <td>
                                        $1850.90
                                      </td>
                                      <td class="text-primary">
                                        $1,839.34
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      Google
                                    </td>
                                    <td>
                                      Googl
                                    </td>
                                    <td>
                                      $136.75
                                    </td>
                                    <td>
                                      $138.20
                                    </td>
                                    <td class="text-primary">
                                      $137.32
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      Apple
                                    </td>
                                    <td>
                                      Aapl
                                    </td>
                                    <td>
                                      $216.40
                                    </td>
                                    <td>
                                      $219.60
                                    </td>
                                    <td class="text-primary">
                                      $218.75
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      Tesla
                                    </td>
                                    <td>
                                      Tsla
                                    </td>
                                    <td>
                                      $241.6
                                    </td>
                                    <td>
                                      $249.5
                                    </td>
                                    <td class="text-primary">
                                      $245.20
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      VM Ware
                                    </td>
                                    <td>
                                      Vmw
                                    </td>
                                    <td>
                                      $152.77
                                    </td>
                                    <td>
                                      $154.45
                                    </td>
                                    <td class="text-primary">
                                      $151.11
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                      IBM
                                    </td>
                                    <td>
                                      IBM
                                    </td>
                                    <td>
                                      $140.95
                                    </td>
                                    <td>
                                      $146.34
                                    </td>
                                    <td class="text-primary">
                                      $143.67
                                    </td>
                                </tr>
                                                            
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
         
