<!-- <script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script> -->



<mat-card class="example-card">
  <mat-card-header>
      
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">Microsoft Stock</mat-card-title>
    <!-- <mat-card-subtitle>Prediction Graph</mat-card-subtitle> -->
    <h4 class="text"><strong>Today's Predicted Closing Price:  </strong>  $137.26307678222656</h4>
  </mat-card-header>
  
    <chart [options]="options" ></chart>
 
  <mat-card-actions>
   
  </mat-card-actions>
</mat-card>