chart
{
    display: block;
    max-width: 1180px;
    max-height: 850px;
// margin-left: 300px;
// margin-top: 50px;
}

.example-card {     
    max-width: 1180px;
    margin-left: 300px;
    margin-top: 30px;
    background-color: rgb(240, 68, 68);
    
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  // .name{
  //   margin-left: 470px;
  // }

  .text
  {
    margin-left:620px;
    margin-top: 5px;
  }